pandas==2.2.2
numpy==1.26.4

# File handling & parsing
python-dateutil==2.9.0

# Data validation (VERY important)
pydantic==2.7.1

# Logging / debugging
loguru==0.7.2

# Optional but useful
tqdm==4.66.4

#Nepse API we are using
nepse @ git+https://github.com/basic-bgnr/NepseUnofficialApi@2f09fbfdcbaf23545d5755b6f11b367324d5b8a4